node_modules/
Frontend/node_modules/
Backend/node_modules/
.next/
Frontend/.next/
.out/
out/
.turbo/
Frontend/.turbo/
.vite/
Frontend/.vite/
.parcel-cache/
Frontend/.parcel-cache/
.cache/
dist/
build/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
.DS_Store
Thumbs.db
